@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


html {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  ::-moz-selection {
    color: #0e76a8;
  }
  ::selection {
    color: #0e76a8;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }
  




  
  #banner {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url(images2/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + #mainText {
    padding-top: 46px;
  }


  
  #navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(images2/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid black;  
    z-index: 2;
  }

  .navigation-link {
    margin: 0px 15px 0px 15px;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: white;
    font-size: 22px;
    transition: color .25s ease;   
    padding-top: 10px;
    padding-bottom: 10px; 
  }
  
  
  h1 {
    color: white;
    margin: 70px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
  }

  h2 {
    color: white;
    font-size: 30px;
  }
  
  h3 {
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
  }

  #homeBodyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;    
  }

  #homeText{
    font-family: 'Raleway', sans-serif;
    max-width:70%;
    align-self: center;
    justify-self: center;
    line-height: 30px;
    font-size: 20px;
  }

  #homeImage{
    max-width: 25%;
    border-radius: 15px;
    align-self: center;
  }



  #aboutBodyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;   

  }

  #aboutText{
    font-family: 'Raleway', sans-serif;
    max-width:70%;
    align-self: center;
    justify-self: center;
    line-height: 30px;
    font-size: 20px;
  }

  #aboutImage{
    max-width: 25%;
    border-radius: 15px;
    align-self: center;
  }

#contact, textarea {
  font-family: 'Raleway', sans-serif;
  margin-top: 40px;
}

form{
  display: flex;
  flex-direction: column;  
}


  .formTitle{
    font-size: 20px;
    margin-top: 10px;
  }

  #nameLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #xxx{
    font-size: 13px;

  }

  #firstName, #lastName, #email, #phone, #message, #button, textarea{
    font-family: 'Raleway', sans-serif;
    min-width: 100%;
    padding: 12px;
    border-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);;
    border-image-slice: 1;
    border-width: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 17px;
    font-weight: 400;
  }

  #firstName, #lastName{
    min-width: 49%;
  }

  textarea{
    min-height: 90px;
    height: 90px;
  }

  #button{
    position: relative;
    border: 0px solid #ccc;
    font-size: 25px;
    padding: 5px;
    border-radius: 3px;
    min-width: 20%;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    cursor: pointer;
    z-index: 0;
    }

    #button:focus {
      top: 2px;
      outline: none;
  }


  #faq{
    margin-top: 40px;
  }



















  a {
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    
  }
  

  
  #definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  

  
  h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 27px;
    text-align: center;
    margin: 60px auto 20px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 7px;
    max-width: 30%;


  }
  

  
  #mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 60%;
    margin: 0px auto 20px auto;
  }
  
  
  

  #logos {
    border: 0px;
    margin: 25px 0 15px 0;
  }
  
  img {
    max-width: 100%;
    display: block;
    border: solid 1px;
    border-bottom-color: #777f8066;
    border-left-color: #777f8066;
    border-right-color: #777f8066;
    border-top-color: #777f8066;
  }
  
  #image-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #about-image-container {
    margin-top: 20px;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .home-page-image1 {
    margin-right: 7px;
  }
  
  .home-page-image2 {
    margin-left: 7px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    margin: 17px 0;
  }
  
  #emailFooter {
    margin-right: 15px;
  }
  
  #phonenumber {
    margin-left: 15px;
  }
  
  footer > a {
    color: black;
    font-size: 16px;
    transition: color 0.5s ease;
    
  }
  
  footer > a:hover {
    color: #1e79a3;
  }
  
  #contact-paragraph {
    text-align: center;
    color: black;
    margin-bottom: 25px;
  }
  
  #contact-paragraph > a {
    color: #1e79a3;
  }
  
  #iframe-container {
    position: relative;
    width: 100%;
    height: 1073px;
    padding-bottom: 0;
  }
  
  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .faq-container {
    border: 1px solid #d7d7d7;
    padding: 30px;
    margin-top: 17px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 22px;
  }
  
  .faq-title {
    font-size: 22px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 5px;
  }
  
  .preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
  
  
  